@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:#111111 ;
}
.loading{
    border: 4px solid orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-right-color: transparent;
    animation: rot 1s linear infinite;

}
@keyframes rot {
    100%{
        transform: rotate(360deg);
    }
    
}

@media(min-width:720px){
    .imggetrans{
        transition: 
        scale 0.25s ease-in,
        opacity 0.25s ease-in,
        filter 0.25s ease-in;
        
        &:hover{
      scale:2;
        }
    }
    
    .imgbox:has(.imggetrans:hover) .imggetrans:not(:hover){
        scale:0.8;
        opacity: 0.8;
        filter: blur(4px);
    }
    
}
